@using PagedList.Mvc
@using Shared.Constants.Common
@using Shared.Constants.Employee
@using Shared.Constants.Project
@using Shared.Models
@using WebApplication.ViewModels
@model WebApplication.ViewModels.CreateProjectViewModel

@{
    ViewBag.Title = ViewStringConstants.Create;
}

<h2>@ViewStringConstants.Create</h2>


@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        <h4>@ViewStringConstants.AssignEmployeesToProjectTitle</h4>
        <hr />
        @using (Html.BeginForm("Index", "Employee", FormMethod.Get))
        {
            <p class="col-md-9 form-horizontal form-inline form-group">
                @Html.TextBox("SearchString", ViewBag.CurrentFilter as string, new { @class = "form-control" })
                <input type="submit" value=@ViewStringConstants.Search class="btn btn-default" />
            </p>
        }

        <div data-ng-app="projectAssignEmployeesApp" data-ng-controller="projectAssignEmployeesController">
            <table class="table table-striped table-condensed table-hover">
                <thead>
                    <tr>
                        <th class="id" custom-sort order="'id'" sort="sort">Id&nbsp;</th>
                        <th class="name" custom-sort order="'name'" sort="sort">Name&nbsp;</th>
                        <th class="description" custom-sort order="'description'" sort="sort">Description&nbsp;</th>
                        <th class="field3" custom-sort order="'field3'" sort="sort">Field 3&nbsp;</th>
                        <th class="field4" custom-sort order="'field4'" sort="sort">Field 4&nbsp;</th>
                        <th class="field5" custom-sort order="'field5'" sort="sort">Field 5&nbsp;</th>
                    </tr>
                </thead>
                <tfoot>
                <td colspan="6">
                    <div class="pagination-container">
                        <ul class="pagination">
                            <li ng-class="{disabled: currentPage == 0}">
                                <a href ng-click="prevPage()">« @ViewStringConstants.Back</a>
                            </li>

                            <li ng-repeat="n in range(pagedItems.length, currentPage, currentPage + gap) "
                                ng-class="{active: n == currentPage}"
                                ng-click="setPage()">
                                <a href ng-bind="n + 1">1</a>
                            </li>

                            <li ng-class="{disabled: (currentPage) == pagedItems.length - 1}">
                                <a href ng-click="nextPage()">@ViewStringConstants.Next »</a>
                            </li>
                        </ul>
                    </div>
                </td>
                </tfoot>
                <pre>pagedItems.length: {{pagedItems.length|json}}</pre>
                <pre>currentPage: {{currentPage|json}}</pre>
                <pre>currentPage: {{sort|json}}</pre>
                <tbody>
                    <tr ng-repeat="item in pagedItems[currentPage] | orderBy:sort.sortingOrder:sort.reverse">
                        <td>{{item.id}}</td>
                        <td>{{item.name}}</td>
                        <td>{{item.description}}</td>
                        <td>{{item.field3}}</td>
                        <td>{{item.field4}}</td>
                        <td>{{item.field5}}</td>
                    </tr>
                </tbody>
            </table>

        </div>


        @*<table class="table">
            <tr>
                <th>
                    @Html.ActionLink(EmployeeProperties.LastNameDisplay,
            "Index",
            new
            {
                sortDirection = ViewBag.CurrentSortDirection,
                sortPropertyName = EmployeeProperties.LastName,
                currentFilter = ViewBag.CurrentFilter
            })
                </th>
                <th>
                    @Html.ActionLink(EmployeeProperties.FirstNameDisplay,
            "Index",
            new
            {
                sortDirection = ViewBag.CurrentSortDirection,
                sortPropertyName = EmployeeProperties.FirstName,
                currentFilter = ViewBag.CurrentFilter
            })
                </th>
                <th>
                    @Html.ActionLink(EmployeeProperties.MiddleNameDisplay,
            "Index",
            new
            {
                sortDirection = ViewBag.CurrentSortDirection,
                sortPropertyName = EmployeeProperties.MiddleName,
                currentFilter = ViewBag.CurrentFilter
            })
                </th>
                <th>
                    @Html.ActionLink(EmployeeProperties.EmailDisplay,
            "Index",
            new
            {
                sortDirection = ViewBag.CurrentSortDirection,
                sortPropertyName = EmployeeProperties.Email,
                currentFilter = ViewBag.CurrentFilter
            })
                </th>
                <th>
                    @Html.ActionLink(EmployeeProperties.ContractorCompanyNameDisplay,
                        "Index",
                        new
                        {
                            sortDirection = ViewBag.CurrentSortDirection,
                            sortPropertyName = EmployeeProperties.ContractorCompanyName,
                            currentFilter = ViewBag.CurrentFilter
                        })
                </th>
                <th>
                    @Html.Label(EmployeeProperties.AssignToProject)
                </th>
                <th>
                    @Html.Label(EmployeeProperties.AssignAsManager)
                </th>
                <th></th>
            </tr>

            @foreach (var item in Model.Employees)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Employee.LastName)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Employee.FirstName)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Employee.MiddleName)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Employee.Email)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Employee.ContractorCompanyName)
                    </td>
                    <td>
                        @Html.CheckBoxFor(modelItem => item.IsAssigned)
                    </td>
                    <td>
                        @Html.RadioButtonFor(modelItem => item.IsManager, false)
                    </td>
                </tr>
            }
        </table>

        <br />

        @ViewStringConstants.Page
        @(Model.Employees.PageCount < Model.Employees.PageNumber ? 0 : Model.Employees.PageNumber)
        @ViewStringConstants.Of
        @Model.Employees.PageCount
        @Html.PagedListPager(Model.Employees, page => Url.Action("Index",
            new
            {
                page,
                sortOrder = ViewBag.CurrentSort,
                currentFilter = ViewBag.CurrentFilter
            }))

        <hr />

        <div class="form-group">
            @Html.LabelFor(model => model.Project.ManagerId, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.ManagerFullName, new { htmlAttributes = new { @class = "form-control", @readonly = string.Empty, placeholder = Html.DisplayNameFor(model => model.Project.ManagerId) } })
                @Html.ValidationMessageFor(model => model.Project.ManagerId, "", new { @class = "text-danger" })
            </div>
        </div>
        @Html.HiddenFor(model => model.Project.ManagerId)

        <div class="form-group">
            @Html.Label(ViewStringConstants.ProjectsEmployeesTitle, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-offset-2 col-md-10">
                <table>
                    <tr>
                        @{
                            int cnt = 0;
                            
                            foreach (var employee in Model.AssignedEmployees)
                            {
                                if (cnt++%3 == 0)
                                {
                                    @:</tr><tr>
                                }
                                @:<td>
                                <input type="checkbox"
                                       name="selectedEmployees"
                                       value="@employee.Employee.Id"
                                    @(Html.Raw(employee.IsAssigned ? "checked=\"checked\"" : "")) />
                                @employee.Employee.Id
                                @:  @employee.FullName
                                @:</td>
                            }
                            @:</tr>
                        }
                    </table>
                </div>
            </div>*@

            <br />

            <div class="form-group">
                <div class="col-md-offset-2 col-md-10">
                    <input type="submit" value=@ViewStringConstants.Create class="btn btn-default" />
                </div>
            </div>
        </div>
}

<div>
    @Html.ActionLink(ViewStringConstants.Back, "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
    @*@Scripts.Render("~/Scripts/angular.min.js")*@
    @*@Scripts.Render("~/bundles/AngularEmployeeIndex")*@
    <script src="~/Scripts/angular.min.js"></script>
    <script src="~/js/EmployeeIndex/projectAssignEmployeesApp.js"></script>
    <script src="~/js/EmployeeIndex/projectAssignEmployeesController.js"></script>
    <script src="~/js/EmployeeIndex/EmployeeIndexDirectives.js"></script>
    <script src="~/js/EmployeeIndex/EmployeeIndexFactory.js"></script>
}
