@using Shared.Constants.Common
@using Shared.Constants.Employee
@model WebApplication.ViewModels.ProjectViewModel

@{
    ViewBag.Title = ViewStringConstants.Delete;
}

<h2>@ViewStringConstants.Delete</h2>
    <p class="error">@ViewBag.ErrorMessage</p>
    <h3>@ViewStringConstants.AreYouSure</h3>
    <div>
        <h4>@ViewStringConstants.ProjectTitle</h4>
        <hr />
        <dl class="dl-horizontal">
            <dt>
                @Html.DisplayNameFor(model => model.ProjectName)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.ProjectName)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.CustomerCompanyName)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.CustomerCompanyName)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.ManagerFullName)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.ManagerFullName)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.StartDate)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.StartDate)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.EndDate)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.EndDate)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.Priority)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Priority)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.Comment)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Comment)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.AssignedEmployees)
            </dt>
            <dd>
                <table class="table">
                    <tr>
                        <th>@EmployeeProperties.LastNameDisplay</th>
                        <th>@EmployeeProperties.FirstNameDisplay</th>
                        <th>@EmployeeProperties.MiddleNameDisplay</th>
                    </tr>
                    @foreach (var item in Model.AssignedEmployees)
                    {
                        <tr>
                            <td>
                                @Html.DisplayFor(modelItem => item.LastName)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.FirstName)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.MiddleName)
                            </td>
                        </tr>
                    }
                </table>
            </dd>
        </dl>

        @using (Html.BeginForm())
        {
            @Html.AntiForgeryToken()

            <div class="form-actions no-color">
                <input type="submit" value=@ViewStringConstants.Delete class="btn btn-default" /> |
                @Html.ActionLink(ViewStringConstants.Back, "Index")
            </div>
        }
    </div>
