@using Shared.Constants.Common
@model Shared.Models.Project

@{
    ViewBag.Title = ViewStringConstants.Details;
}

<h2>@ViewStringConstants.Details</h2>

<div>
    <h4>@ViewStringConstants.ProjectTitle</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.ProjectName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ProjectName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CustomerCompanyName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CustomerCompanyName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.StartDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.StartDate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.EndDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.EndDate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Priority)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Priority)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Comment)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Comment)
        </dd>
    </dl>
</div>
<p>
    @Html.ActionLink(ViewStringConstants.Edit, "Edit", new { id = Model.Id }) |
    @Html.ActionLink(ViewStringConstants.Back, "Index")
</p>
