@using Shared.Constants.Common
@using Shared.Constants.Project
@using PagedList.Mvc
@model PagedList.IPagedList<WebApplication.ViewModels.ProjectViewModel>
<link href="~/Content/PagedList.css" rel="stylesheet" type="text/css" />
@{
    ViewBag.Title = ViewStringConstants.ProjectsTitle;
}

<div class="row">
    <h2 class="col-md-9">@ViewStringConstants.ProjectsTitle</h2>
    <p class="col-md-1 col-md-offset-2 h2">
        @Html.ActionLink(ViewStringConstants.Create, "Create", null, new { @class = "btn btn-success" })
    </p>
</div>

<table class="table" data-ng-app="projectIndexApp" data-ng-controller="projectIndexController">
    <tr>
        <th>
            <a href="" class="glyphicon glyphicon-filter" data-ng-click="projectNameFilter.show()"></a>
            
            <div data-ng-hide="projectNameFilter.isShown">
                <a href="@Url.Action("Index", new
                     {
                         sortDirection = ViewBag.CurrentSortDirection,
                         sortPropertyName = ProjectProperties.ProjectName,
                         currentFilter = ViewBag.CurrentFilter
                     })">
                    <span>@ProjectProperties.ProjectNameDisplay</span>
                    <span data-ng-class="{'dropup': 'Ascending'=='@ViewBag.CurrentSortDirection', 'dropdown': 'Descending'=='@ViewBag.CurrentSortDirection'}">
                        <span class="caret"></span>
                    </span>
                </a>
            </div>
            @using (Html.BeginForm("Index", "Project", FormMethod.Get, new { data_ng_show = "projectNameFilter.isShown" }))
            {
                <p class="form-inline form-group">
                    @Html.TextBox("SearchString", ViewBag.CurrentFilter as string, new { @class = "form-control" })
                    <input type="submit" value=@ViewStringConstants.Search class="btn btn-default" />
                </p>
            }
        </th>

        <th>
            <a href="" class="glyphicon glyphicon-filter" data-ng-click="customerCompanyNameFilter.show()"></a>
            @Html.ActionLink(ProjectProperties.CustomerCompanyNameDisplay,
                "Index",
                new
                {
                    sortDirection = ViewBag.CurrentSortDirection,
                    sortPropertyName = ProjectProperties.CustomerCompanyName,
                    currentFilter = ViewBag.CurrentFilter
                },
                new
                {
                    data_ng_hide = "customerCompanyNameFilter.isShown"
                })
            @Html.TextBox("SearchString", ViewBag.CurrentFilter as string, new { @class = "form-control", data_ng_show = "customerCompanyNameFilter.isShown" })
        </th>

        <th>
            <a href="" class="glyphicon glyphicon-filter" data-ng-click="managerFilter.show()"></a>
            @Html.Label(ProjectProperties.ManagerIdDisplay, new { data_ng_hide = "managerFilter.isShown" })
            <div class="form-group">
                @Html.TextBox("SearchString", ViewBag.CurrentFilter as string, new { @class = "form-control", @placeholder = "Фамилия", data_ng_show = "managerFilter.isShown" })
                @Html.TextBox("SearchString", ViewBag.CurrentFilter as string, new { @class = "form-control", @placeholder = "Имя", data_ng_show = "managerFilter.isShown" })
                @Html.TextBox("SearchString", ViewBag.CurrentFilter as string, new { @class = "form-control", @placeholder = "Отчество", data_ng_show = "managerFilter.isShown" })
            </div>
        </th>

        <th>
            <a href="" class="glyphicon glyphicon-filter" data-ng-click="startDateFilter.show()"></a>
            @Html.ActionLink(ProjectProperties.StartDateDisplay,
                "Index",
                new
                {
                    sortDirection = ViewBag.CurrentSortDirection,
                    sortPropertyName = ProjectProperties.StartDate,
                    currentFilter = ViewBag.CurrentFilter
                },
                new
                {
                    data_ng_hide = "startDateFilter.isShown"
                })
            @Html.TextBox("SearchString", ViewBag.CurrentFilter as string, new { @class = "form-control", data_ng_show = "startDateFilter.isShown" })
            @Html.TextBox("SearchString", ViewBag.CurrentFilter as string, new { @class = "form-control", data_ng_show = "startDateFilter.isShown" })
        </th>

        <th>
            <a href="" class="glyphicon glyphicon-filter" data-ng-click="endDateFilter.show()"></a>
            @Html.ActionLink(ProjectProperties.EndDateDisplay,
                "Index",
                new
                {
                    sortDirection = ViewBag.CurrentSortDirection,
                    sortPropertyName = ProjectProperties.EndDate,
                    currentFilter = ViewBag.CurrentFilter
                },
                new
                {
                    data_ng_hide = "endDateFilter.isShown"
                })
            @Html.TextBox("SearchString", ViewBag.CurrentFilter as string, new { @class = "form-control", data_ng_show = "endDateFilter.isShown" })
            @Html.TextBox("SearchString", ViewBag.CurrentFilter as string, new { @class = "form-control", data_ng_show = "endDateFilter.isShown" })
        </th>

        <th>
            <a href="" class="glyphicon glyphicon-filter" data-ng-click="priorityFilter.show()"></a>
            @Html.ActionLink(ProjectProperties.PriorityDisplay,
                "Index",
                new
                {
                    sortDirection = ViewBag.CurrentSortDirection,
                    sortPropertyName = ProjectProperties.Priority,
                    currentFilter = ViewBag.CurrentFilter
                },
                new
                {
                    data_ng_hide = "priorityFilter.isShown"
                })
            @Html.TextBox("SearchString", ViewBag.CurrentFilter as string, new { @class = "form-control", data_ng_show = "priorityFilter.isShown" })
        </th>

        <th>
            <a href="" class="glyphicon glyphicon-filter" data-ng-click="commentFilter.show()"></a>
            @Html.Label(ProjectProperties.CommentDisplay, new { data_ng_hide = "commentFilter.isShown" })
            @Html.TextBox("SearchString", ViewBag.CurrentFilter as string, new { @class = "form-control", data_ng_show = "commentFilter.isShown" })
        </th>

        <th></th>
    </tr>
    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.ProjectName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CustomerCompanyName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ManagerFullName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.StartDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.EndDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Priority)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Comment)
            </td>
            <td>
                @Html.ActionLink(ViewStringConstants.Edit, "Edit", new { id = item.Id }) |
                @Html.ActionLink(ViewStringConstants.Details, "Details", new { id = item.Id }) |
                @Html.ActionLink(ViewStringConstants.AssignEmployeesToProjectTitle, "AssignEmployees", new { id = item.Id }) |
                @Html.ActionLink(ViewStringConstants.Delete, "Delete", new { id = item.Id })
            </td>
        </tr>
    }
</table>

<br />

@ViewStringConstants.Page
@(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber)
@ViewStringConstants.Of
@Model.PageCount
@Html.PagedListPager(Model, page => Url.Action("Index",
    new
    {
        page,
        sortOrder = ViewBag.CurrentSort,
        currentFilter = ViewBag.CurrentFilter
    }))

<script src="~/Scripts/angular.js"></script>
<script src="~/js/ProjectIndexApp/ProjectIndexApp.js"></script>
<script src="~/js/ProjectIndexApp/ProjectIndexAppController.js"></script>

<script type="text/javascript">
    
</script>
