@using Common.Constants.Common
@using Common.Constants.Employee
@using PagedList.Mvc
@model PagedList.IPagedList<Data.Models.Employee>
<link href="~/Content/PagedList.css" rel="stylesheet" type="text/css" />
@{
    ViewBag.Title = ViewStringConstants.EmployeesTitle;
}
<h2>@ViewStringConstants.EmployeesTitle</h2>
<hr />
@using (Html.BeginForm("Index", "Employee", FormMethod.Get))
{
    <p class="col-md-9 form-horizontal form-inline form-group">
        @Html.TextBox("SearchString", ViewBag.CurrentFilter as string, new { @class = "form-control" })
        <input type="submit" value=@ViewStringConstants.Search class="btn btn-default" />
    </p>
}
<p class="col-md-1 col-md-offset-2">
    @Html.ActionLink(ViewStringConstants.Create, "Create", null, new { @class = "btn btn-success" })
</p>

<table class="table">
    <tr>
        <th>
            @Html.ActionLink(EmployeeProperties.LastNameDisplay,
            "Index",
            new
            {
                sortDirection = ViewBag.CurrentSortDirection,
                sortPropertyName = EmployeeProperties.LastName,
                currentFilter = ViewBag.CurrentFilter
            })
        </th>
        <th>
            @Html.ActionLink(EmployeeProperties.FirstNameDisplay,
            "Index",
            new
            {
                sortDirection = ViewBag.CurrentSortDirection,
                sortPropertyName = EmployeeProperties.FirstName,
                currentFilter = ViewBag.CurrentFilter
            })
        </th>
        <th>
            @Html.ActionLink(EmployeeProperties.MiddleNameDisplay,
            "Index",
            new
            {
                sortDirection = ViewBag.CurrentSortDirection,
                sortPropertyName = EmployeeProperties.MiddleName,
                currentFilter = ViewBag.CurrentFilter
            })
        </th>
        <th>
            @Html.ActionLink(EmployeeProperties.EmailDisplay,
            "Index",
            new
            {
                sortDirection = ViewBag.CurrentSortDirection,
                sortPropertyName = EmployeeProperties.Email,
                currentFilter = ViewBag.CurrentFilter
            })
        </th>
        <th>
            @Html.ActionLink(EmployeeProperties.ContractorCompanyNameDisplay,
            "Index",
            new
            {
                sortDirection = ViewBag.CurrentSortDirection,
                sortPropertyName = EmployeeProperties.ContractorCompanyName,
                currentFilter = ViewBag.CurrentFilter
            })
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.LastName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.FirstName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.MiddleName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Email)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ContractorCompanyName)
            </td>
            <td>
                @Html.ActionLink(ViewStringConstants.Edit, "Edit", new { id = item.Id }) |
                @Html.ActionLink(ViewStringConstants.Details, "Details", new { id = item.Id }) |
                @Html.ActionLink(ViewStringConstants.Delete, "Delete", new { id = item.Id })
            </td>
        </tr>
    }
</table>

<br />

@ViewStringConstants.Page
@(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber)
@ViewStringConstants.Of
@Model.PageCount
@Html.PagedListPager(Model, page => Url.Action("Index",
    new
    {
        page,
        sortOrder = ViewBag.CurrentSort,
        currentFilter = ViewBag.CurrentFilter
    }))