@model PagedList.IPagedList<Data.Models.Employee>
@using Data.Models
@using PagedList.Mvc;
@using Utils
<link href="~/Content/PagedList.css" rel="stylesheet" type="text/css" />
@{
    ViewBag.Title = "Работники";
}
<h2>Работники</h2>
<p>
    @Html.ActionLink("Создать", "Create")
</p>
@using (Html.BeginForm("Index", "Employee", FormMethod.Get))
{
    <p>
        @Html.TextBox("SearchString", ViewBag.CurrentFilter as string)
        <input type="submit" value="Search" />
    </p>
}

<table class="table">
    <tr>
        <th>
            @Html.ActionLink(new Employee().GetPropertyDisplayNameFor(e => e.LastName),
            "Index",
            new
            {
                sortDirection = ViewBag.CurrentSortDirection,
                sortPropertyName = new Employee().GetPropertyNameFor(e => e.LastName),
                currentFilter = ViewBag.CurrentFilter
            })
        </th>
        <th>
            @Html.ActionLink(new Employee().GetPropertyDisplayNameFor(e => e.FirstName),
            "Index",
            new
            {
                sortDirection = ViewBag.CurrentSortDirection,
                sortPropertyName = new Employee().GetPropertyNameFor(e => e.FirstName),
                currentFilter = ViewBag.CurrentFilter
            })
        </th>
        <th>
            @Html.ActionLink(new Employee().GetPropertyDisplayNameFor(e => e.MiddleName),
            "Index",
            new
            {
                sortDirection = ViewBag.CurrentSortDirection,
                sortPropertyName = new Employee().GetPropertyNameFor(e => e.MiddleName),
                currentFilter = ViewBag.CurrentFilter
            })
        </th>
        <th>
            @Html.ActionLink(new Employee().GetPropertyDisplayNameFor(e => e.Email),
            "Index",
            new
            {
                sortDirection = ViewBag.CurrentSortDirection,
                sortPropertyName = new Employee().GetPropertyNameFor(e => e.Email),
                currentFilter = ViewBag.CurrentFilter
            })
        </th>
        <th>
            @Html.ActionLink(new Employee().GetPropertyDisplayNameFor(e => e.ContractorCompanyName),
            "Index",
            new
            {
                sortDirection = ViewBag.CurrentSortDirection,
                sortPropertyName = new Employee().GetPropertyNameFor(e => e.ContractorCompanyName),
                currentFilter = ViewBag.CurrentFilter
            })
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.LastName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.FirstName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.MiddleName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Email)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ContractorCompanyName)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { id = item.Id }) |
                @Html.ActionLink("Details", "Details", new { id = item.Id }) |
                @Html.ActionLink("Delete", "Delete", new { id = item.Id })
            </td>
        </tr>
    }
</table>

<br />

Page @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) of @Model.PageCount
@Html.PagedListPager(Model, page => Url.Action("Index",
new
{
    page, 
    sortOrder = ViewBag.CurrentSort, 
    currentFilter = ViewBag.CurrentFilter
}))